[alias]
  br = branch
  ci = commit
  co = checkout
  dc = diff --cached
  df = diff
  lg = log -p
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  loa = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files
  lsi = ls-files -o -i --exclude-standard
  lsm = branch --merged master
  st = status
  last = log -1 HEAD
  pf = "!git push --force-with-lease"
  tree = "~/bin/git-forest --pretty=format:\"%C(red)%h %C(magenta)(%ar) %C(blue)%an %C(reset)%s\" --style=15 --reverse"
  squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
  unstage = reset HEAD --
  rmbranch = "!f(){ git branch -d ${1} && git push origin --delete ${1}; };f"
[branch]
  autosetupmerge = true
[color]
  ui = always
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  ;old = red bold
  ;new = green bold
  whitespace = red reverse
[color "status"]
  ;added = green
  changed = yellow
  ;untracked = cyan
[core]
	editor = /usr/bin/vim
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = /Users/rmcconnell/.gitignore_global
[user]
	name = Rex McConnell
	email = rex@rexmac.com
[push]
	default = simple
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =.
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[merge]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool]
	prompt = false
[diff]
	tool = Kaleidoscope
	algorithm = patience
[credential]
	helper = osxkeychain
[pager]
	branch = false
[protocol]
	version = 2
